body{
    font-family: 'Noto Sans JP', sans-serif;
    max-width: 800px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Sans JP', sans-serif;
}

header h1{
    background-color: maroon;
    color: white;
    font-weight: bold;
    padding: 15px 50px;
    font-size: 1.5rem;
}

h2{
    font-size: 1rem;
}
.portrait{
    padding: 10px 10px;
    height: 180px;
    text-align: center;
}

main{
    padding-left: 15px;
}

footer{
    text-align: center;
    background-color: maroon;
    color: white;
    padding: 10px;
}

footer a{
    color: white;
}