.hero-div {
    max-width: 100%;
}

.weathersum {
    width: 25%;
    font-size: 1rem;
}

main div#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
    grid-column: 1 / span 2;
    grid-column: 2 / span 1;
    grid-column: 3 / span 1;
}

main div#content section.main {
    grid-column: 1 / span 2;
}


main div#content section.aboutus,
main div#content section.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: .6rem 1.5rem;
    font-size: 1em;
}

main {
    max-width: 80%;
}

footer {
    max-width: 82%
}

main.plan-page {
    grid-template-columns: 1fr 1fr 1fr;
}

main.plan-page h2 {
    grid-column: 1 / span 3;
}

div.cards {
    grid-template-columns: 1fr 1fr 1fr;
}