main div#content section {
    display: flex;
    flex-direction: row-reverse;
    flex: 1 1 100%;
    align-content: center;
    justify-content: center;
}

main div#content section:nth-child(2) {
    flex-direction: row;
}

main div#content section>* {
    flex: 1 1 100%;
}

main div#content section div {
    padding: 10px;
}

.hero-div {
    max-width: 800px;
}

main.plan-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 15px;
}

main.plan-page section {
    margin: 0;
}

main.plan-page h2 {
    grid-column: 1 / span 2;
}

main.contact-page section {
    flex-direction: row;
}

.contactinfo {
    padding: 0 10px;
}

div.cards {
    grid-template-columns: 1fr 1fr;
}

header img {
    max-height: 80px;
}

header section h2 {
    font-size: 2.2rem;
    padding: 0px 5px;
}

header section h3 {
    font-size: 1.4rem;
}

nav ul.hide {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

}

nav ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

nav button {
    display: none;
}


nav ul li {
    text-align: center;
}

nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: .8rem .8rem;
}

main {
    max-width: 800px;
}

footer {
    font-size: 1.2rem;
    max-width: 820px;
}
table tr th, table tr td{
    padding: 10px;
    border: 1px solid $HeaderTitleColor;
    font-size: 1em;
}