main div#content section{
    display: flex;
    flex-direction: row-reverse;
    flex: 1 1 100%;
   align-content: center;
   justify-content: center;
}

main div#content section:nth-child(2){
    flex-direction: row;
}

main div#content section>* {
    flex: 1 1 100%;
}

main div#content section div{
    padding: 10px;
}

.hero-div {
    max-width: 800px;
}

/* CSS All Pages */
header img {
    max-height: 80px;
}

header section h2 {
    font-size: 2.2rem;
    padding: 0px 5px;
}

header section h3 {
    font-size: 1.4rem;
}

nav ul.hide {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

}

nav ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

nav button {
    display: none;
}


nav ul li {
    text-align: center;
}

nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: .8rem .8rem;
}

main {
    max-width: 800px;
}

footer {
    font-size: 1.2rem;
    max-width: 820px;
}
