body {
    background-color: $PageBackground;
    font-family: $fontFamily2;
    margin-top: 0px;
    color: $BodyTextColor;
    font-size: 16px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    max-width: 100%;
}

header img {
    min-width: 50px;
    max-height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

header section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $HeaderTitleColor;
}

header section h2 {
    font-size: 1.6rem;
    margin: 0;
    font-family: $fontFamily1;
}

header section h3 {
    font-size: 1rem;
    margin: 0;
    font-family: $fontFamily1;
    font-style: italic;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: $NavFooterTextnContainer;
    cursor: pointer;
}

nav button span {
    font-size: 1.1rem;
}

nav {
    background-color: $NavFooterBackground;
    font-family: $fontFamily1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


nav ul li a {
    text-align: center;
    display: block;
    padding: .8rem 0px;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    color: $NavFooterTextnContainer;
    font-size: .9em;
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: $NavFooterTextnContainer;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

nav ul.hide {
    display: none;
}

main {
    background-color: $NavFooterTextnContainer;
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
}

footer {
    background-color: $NavFooterBackground;
    color: $NavFooterTextnContainer;
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: 100%;
    margin: 0 auto;
    font-size: .8em;
    text-align: center;
}

footer a {
    color: $NavFooterTextnContainer;
    ;
    text-decoration: none;
    display: inline;
}

footer h3 {
    margin: 0;
    padding: 0;
    display: inline;
}

main div#content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
    padding-bottom: 10px;
}

main div#content section img {
    max-width: 100%;
}

main div#content section h2 {
    color: $HeaderTitleColor;
}

.hero-div {
    margin: 10px auto;
    position: relative;
    max-width: 100%;
}


main .hero-div picture.heroimg img {
    width: 96%;
    margin: 0 2%;
}

.hero-div figure {
    box-shadow: 0 0 1px #111;
}

.weathersum {
    position: absolute;
    top: 4%;
    left: 4%;
    background: $NavFooterBackground;
    background: -moz-linear-gradient(top, $NavFooterBackground 0%, #C25E1C 100%);
    background: -webkit-linear-gradient(top, $NavFooterBackground 0%, #C25E1C 100%);
    background: linear-gradient(to bottom, $NavFooterBackground 0%, #C25E1C 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$NavFooterBackground', endColorstr='#C25E1C', GradientType=0);
    border: 1px solid #C25E1C;
    padding: 8px 5px 8px 5px;
    box-shadow: 0 0 30px #111;
    opacity: .8;
    display: grid;
    grid-template-columns: auto auto;
    min-width: 160px;
    max-width: 25%;
    font-size: .8em;
    margin-bottom: 2px;
}

.weatheritem1 {
    grid-column: 1 / span 2;
    text-align: center;
    border-bottom: 1px solid black;
    color: #000000;
}

.weatheritem2,
.weatheritem4,
.weatheritem6,
.weatheritem8,
.weatheritem10,
.weatheritem12 {
    text-align: right;
    color: #000000;
}

.weatheritem3,
.weatheritem5,
.weatheritem7,
.weatheritem9,
.weatheritem11,
.weatheritem13 {
    text-align: left;
    color: white;
}

div.weatheritem1 h3 {
    margin: 0;
}

main.plan-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 100%;
}

main.plan-page h2 {
    text-align: center;
    color: $HeaderTitleColor;
    font-style: italic;
}

main.plan-page section h2 {
    color: $HeaderTitleColor;
    text-align: center;
}

main.plan-page section img {
    max-width: 100%;
}

main.plan-page section {
    border: 1px solid $HeaderTitleColor;
    margin: 10px auto;
    padding: 10px;
}

.details {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px 8px 5px 8px;
}

.plan-page p {
    text-align: center;
}

.plan-page p span {
    color: $HeaderTitleColor;
    font-weight: bold;
    text-align: center;
}

.details .label {
    text-align: right;
    padding: 5px;
    color: $HeaderTitleColor;
    font-weight: bold;
}

.details .info {
    text-align: left;
    padding: 5px;
}


main.plan-page section div.trip-details p span {
    color: $HeaderTitleColor;
    font-weight: bold;
}

main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid $BodyTextColor;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 100%;
    max-width: 25rem;
}

form legend {
    color: $BodyTextColor;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.1em;
}

form label.top,
form div,
form label.rating {
    display: block;
    padding-top: 1.5rem;
    color: $HeaderTitleColor;
    font-size: 1em;
}

form label.top input,
form label.top select,
form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

textarea#comments {
    height: 7rem;
}

#rating {
    display: block;
    padding: 0.75rem;
    width: 100%;
    max-width: 15rem;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: $NavFooterBackground;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 1rem 2%;
    width: 96%;
    max-width: 20rem;
    cursor: pointer;
}

form input.submitBtn:hover {
    background-color: rgb(197, 116, 62);
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

main.reserve h2 {
    color: $HeaderTitleColor;
    text-align: center;
    font-style: italic;
    padding: 10px 0;
    margin-bottom: 0;
}

.contactinfo h2,
.contactinfo p {
    text-align: center;
}

.contactinfo h2 {
    color: $HeaderTitleColor;
}

main.contact-page section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 100%;
}

main.guide-page h2 {
    color: $HeaderTitleColor;
    font-weight: bold;
}

main.guide-page h3 {
    color: $HeaderTitleColor;
    font-weight: bold;
}

main.guide-page article {
    border: 1px solid $HeaderTitleColor;
    padding: 10px;
    max-height: 775px;
}

main.guide-page {
    text-align: center;
}

main.guide-page p {
    text-align: left;
}

div.cards {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
}