h1 {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section picture img[data-src] {
    filter: blur(0.2em);
}

section picture img {
    filter: blur(0em);
    transition: filter 2s;
}