/* Applied to all Pages */
body {
    background-color: #728394;
    font-family: 'Crimson Text', serif;
    margin-top: 0px;
    color: #393A3F;
    font-size: 16px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-width: 320px;
    max-width: 100%;
}

header img {
    min-width: 50px;
    max-height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

header section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #E17730;
}

header section h2 {
    font-size: 1.8rem;
    padding: 5px 0%;
    margin: 0;
}

header section h3 {
    font-size: 1rem;
    margin: 0;
    padding: 0 3px;
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

nav button span {
    font-size: 1.1rem;
}

nav {
    background-color: #E17730;
    font-family: 'Open Sans', sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


nav ul li a {
    text-align: center;
    display: block;
    padding: .8rem 0px;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: .9em;
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

nav ul.hide {
    display: none;
}

main {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 0px 10px;
}

main h1 {
    text-align: center;
}

footer {
    background-color: #E17730;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: 100%;
    min-width: 300px;
    margin: 0 auto;
    font-size: .8em;
}

footer section a {
    color: white;
    text-decoration: none;
    display: inline;
}

footer section h3 {
    margin: 0;
    padding: 0;
    display: inline;
}

/* CSS Town-Pages */

#alert {
    width: 100%;
    background: #E17730;
    background: -moz-linear-gradient(top, #E17730 0%, #C25E1C 100%);
    background: -webkit-linear-gradient(top, #E17730 0%, #C25E1C 100%);
    background: linear-gradient(to bottom, #E17730 0%, #C25E1C 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E17730', endColorstr='#C25E1C', GradientType=0);
    border: 1px solid #C25E1C;
    padding: 6px;
    box-shadow: 0 0 30px #111;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
}

main.town-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-div {
    margin: 10px auto;
    position: relative;
    max-width: 100%;
}


main .hero-div picture.heroimg img {
    width: 96%;
    margin: 0 2%;
}

.hero-div figure {
    box-shadow: 0 0 1px #111;
}

.weathersum {
    position: absolute;
    top: 4%;
    left: 4%;
    background: #E17730;
    background: -moz-linear-gradient(top, #E17730 0%, #C25E1C 100%);
    background: -webkit-linear-gradient(top, #E17730 0%, #C25E1C 100%);
    background: linear-gradient(to bottom, #E17730 0%, #C25E1C 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E17730', endColorstr='#C25E1C', GradientType=0);
    border: 1px solid #C25E1C;
    padding: 8px 5px 8px 5px;
    box-shadow: 0 0 30px #111;
    opacity: .8;
    display: grid;
    grid-template-columns: auto auto;
    max-width: 25%;
    min-width: 160px;
    font-size: .9em;
    margin-bottom: 2px;
}

.weatheritem1 {
    grid-column: 1 / span 2;
    text-align: center;
    border-bottom: 1px solid black;
    color: #000000;
}

.weatheritem2,
.weatheritem4,
.weatheritem6,
.weatheritem8,
.weatheritem10 {
    text-align: right;
    color: #000000;
}

.weatheritem3,
.weatheritem5,
.weatheritem7,
.weatheritem9,
.weatheritem11 {
    text-align: left;
    color: white;
}

div.weatheritem1 h3 {
    margin: 0;
}

.forecast,
.forecast-title {
    display: none;
}

.article {
    padding: 10px;
    margin: 0px auto 15px auto;
    width: 100%;
    box-shadow: 0 0 1px #111;
    background-color: #b9c8d646;
}

.article img {
    width: 100%;
    box-shadow: 0 0 7px #111;
}

.article h3,
.article h4 {
    margin: 0;

}

.contact {
    width: 100%;
    background-color: #b9c8d646;
    display: flex;
    margin: 0 auto;
    padding: 1.2rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1px #111;
}

.map,
.info {
    flex: 1 1 100%;
}

.map {
    display: none;
}

.info {
    display: grid;
    grid-template-columns: 30px auto;
    align-self: center;
}


.infogrid2 a img {
    width: 15px;
    cursor: pointer;
}

.infogrid1 {
    grid-column: 1 / span 2;
}

.infogrid8 {
    grid-column: 1 / span 2;
}

.info {
    width: 100%;
    flex: 1 1 100%;
}

.info p {
    margin: 0;
}

.infogrid1,
.infogrid2,
.infogrid3,
.infogrid4,
.infogrid5,
.infogrid6,
.infogrid7,
.infogrid8 {
    padding: 5px;
    align-self: center;
}

.socialicons img {
    width: 18px;
}

.infogrid4,
.infogrid6 {
    font-size: 1.2em;
}


/* CSS Gallery Page */

main.gallery-page{
    padding-bottom: 10px;
}

.gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
}

.gallery-container figure {
    padding: 0;
    border: 1px solid lightgrey;
    justify-self: center;
    margin: 0;
}

.gallery-container figure img[data-src] {
    filter: blur(0.2rem);
}

.gallery-container figure img {
    padding: 0;
    max-width: 100%;
    filter: blur(0rem);
    transition: filter 1.5s;
}

.gallery-container figure figcaption {
    padding: 0 10px;
    cursor: default;
    max-width: 100%;
}
