.heading h2{
    font-family: 'Dancing Script',cursive;
    color: #99872C;
    background-color: black;
    font: normal normal normal 57px/1.4em snellroundhandw01-scrip,cursive;
}

.white{
    color: white;
}